{erl_opts, [no_debug_info]}.
{deps, [
        {esqlite, "0.4.0"}
       ]}.

{escript_incl_apps, [parse_xml, esqlite]}.
{escript_main_app, parse_xml}.
{escript_name, parse_xml}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
