{erl_opts, [no_debug_info]}.
{deps, [
	{sqlite3, {git, "git://github.com/saleyn/erlang-sqlite3.git", {tag, "1.1.5"}}} 
       ]}.

{escript_incl_apps, [parse_xml, sqlite3]}.
{escript_main_app, parse_xml}.
{escript_name, parse_xml}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
