[
  {harbour, [{config_dir, "etc"}]},
  {mnesia, [{dir, "/appdata/db/mnesia"}]},
  {kernel,
      [{logger,
        [{handler, default, logger_std_h,
          #{level => error,
            config => #{file => "/appdata/log/error.log"}}},
         {handler, info, logger_std_h,
          #{level => debug,
            config => #{file => "/appdata/log/debug.log"}}}
        ]}]}
].
