{erl_opts, [debug_info]}.
{deps,  
	[
            {mprom,     {git, "git://github.com/toddg/mprom.git",       {tag, "1.0.0"}}},
            {inotify,   {git, "git://github.com/sheyll/inotify.git",    {tag, "0.4.3"}}},
            {esqlite, "0.4.0"}
	]}.

{relx, [{release, { harbour, "0.1.0"},
         [harbour
          ,common
          ,inotify
          ,mnesia
          ,sasl
          ,esqlite
         ]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {overlay, [
            {mkdir, "etc"},
            {copy, "etc/manifest.config", "etc/manifest.config"},
            {copy, "etc/work.config", "etc/work.config"}
            ]}
       ]
}.


{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
